body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

header {
  background-color: #001399;
  color: white;
  text-align: center;
  padding: 20px;
}

.jobs, .apply-form {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.jobs h2, .apply-form h2 {
  color: #333;
}

.job {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input, select, button {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #001399;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #001399;
}
