body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.stats-cards {
    flex-wrap: wrap;
}

.stats-cards > div {
    min-width: 220px;
}

@media screen and (max-width: 1100px) {
    .stats-cards, .revenue-recent-wrapper {
        flex-direction: column;
    }

    .revenue-recent-wrapper > div {
        max-width: 100% !important;
        margin-left: 0 !important;
    }
}